{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
  {% assign subtitle = post.subtitle | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
  {% assign subtitle = post.subtitle %}
{% endif %}

<div class="{{ include.type | default: 'list' }}__item">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src="{{ teaser | relative_url }}" alt="">
      </div>
    {% endif %}
    <h1 class="archive__item-title no_toc" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ post.url | relative_url }}" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">hyperlinked text</span></a><br>
        <a href="{{ post.link }}">{{ subtitle }}</a> <a href="{{ post.url | relative_url }}" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">hyperlinked text</span></a>
      {% else %}
        <a href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a><br>
        <a href="{{ post.url | relative_url }}" rel="permalink">{{ subtitle }}</a>
      {% endif %}
    </h1>
    {% include page__meta.html type=include.type %}
    {% if post.excerpt %}
    <p class="archive__item-excerpt" itemprop="description" style="text-align:justify; font-size:14px">
      {{ post.excerpt | markdownify | strip_html | truncate: 512 }}
    </p>{% endif %}
  </article>
</div>